@model DealDouble.Entities.Auction
<div class="modal-header">
    <h2 class="modal-title"> Edit Auction</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="editForm" method="post">

    <input type="hidden" name="ID" value="@Model.ID">


    <div class="form-group">
        <label>
            Title
        </label>
        <input class="form-control" name="Title" value="@Model.Title" />

    </div>
    <div class="form-group">
        <label>
            Description
        </label>
        <input class="form-control" name="Description" value="@Model.Description" />

    </div>
    <div class="form-group">
        <label>
            ActualAmount
        </label>
        <input class="form-control" name="ActualAmount" value="@Model.ActualAmount" />

    </div>
    <div class="form-group">
        <label>
            StartingTime
        </label>
        <input class="form-control" name="StartingTime" value="@Model.StartingTime" />

    </div>
    <div class="form-group">
        <label>
            EndingTime
        </label>
        <input class="form-control" name="EndTime" value="@Model.EndTime" />

    </div>

    <div class="form-group">
        <label>
            Select Pictures
        </label>
        <input id="auctionPictures" class="form-control" name="AuctionPicture" type="file" multiple />
    </div>
    <div id="picturesArea">
        <input type="hidden" name="AuctionPictures" id="pictureIDs">
    </div>

 <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-success" type="button" id="saveButton"> save </button>
    </div>

</form>


<script>
    $("#saveButton").click(function () {
        $.ajax({
            url:"@Url.Action("Edit","Auctions")",
            method: "post",
            data: $("#editForm").serialize()
        }).done(function (response) {
            debugger;
            $("#listingArea").html(response);

        })
            .fall(function(){});



    });


    $("#auctionPictures").change(function () {

        var pictures = this.files;
        var picsData = new FormData();
        var picsData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i])
        }

        $.ajax({
            url:"@Url.Action("UploadPictures", "Shared")",
            type: "post",
            data: picsData,
            dataType: "json",
            processData: false,
            contentType: false

        }).done(function (responses) {
            debugger;

            var picIDs = '';
            //$('#formModel').model('toggle');
            for (var i = 0; i < responses.length; i++) {
                var picResponse = responses[i];
                var imgHtml = "<img class='img-thumbnail'; src='/Content/images/" + picResponse.pictureUrl + "'/>";


                $("#picturesArea").append(imgHtml);
                picIDs = picIDs + "," + picResponse.ID;


            }
            $("#pictureIDs").val(picIDs);
           //$("#listingArea").html(response);
       });
  });

</script>
